<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="brand">
                    Messages
                </div>
            </div>
        </div>
    </div>

    {{outlet}}

</div>
